@inherits LayoutComponentBase
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager
@inject ILocalStorageService _localStorage
@using StoreUI.Data
<div class="sidebar">
    <NavMenu />
</div>
<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                
                <a href="/" @onclick="(()=>Logout())">Logout</a>
            </Authorized>
            <NotAuthorized>
                <a href="/">Login</a>
            </NotAuthorized>
        </AuthorizeView>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code{
    private string cartitemCount = "0";
    private void Logout()
    {
        ((CustomAuthenticationStateProvider)_authenticationStateProvider).MarkUserAsLoggedOut();
        _navigationManager.NavigateTo("");
    }

    protected override async Task OnInitializedAsync()
    {
        if(await _localStorage.ContainKeyAsync("cartCount"));
            cartitemCount = await _localStorage.GetItemAsStringAsync("cartCount");
    }
}
