@page "/shop"
@using System.Security.Claims

@if (IsUserAuthenticated)
{
    <h3>Welcome to the shop <b>@user.Identity.Name</b></h3>
    <br />
}
else
{
    <h3>Please login to view the catalogue <b><a href="/">Login Now</a></b></h3>
    <br />
}
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal user;

    bool IsUserAuthenticated;
    protected override async Task OnInitializedAsync()
    {
        user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
            IsUserAuthenticated = true;
    }
}
