@page "/counter"
@inject IJSRuntime _jsRuntime
<h1>Counter</h1>

<p>Current count: @currentCount</p>
<CustomAlert IsVisible="IsVisible" Results="Results">
    <span>Mr </span>@RecordName
</CustomAlert>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="InvokeJsAsync">Saved</button>

@code {
    private int currentCount = 0;
    public bool IsVisible { get; set; }
    public string RecordName { get; set; }
    public bool Results { get; set; }
    private void IncrementCount()
    {
        currentCount++;
    }

    private async Task InvokeJsAsync()
    {
        IsVisible = true;
        Results = false;
        string firstName = "Kenth";
        string lastName = "Bien";
        RecordName = firstName + " " + lastName;
        // await _jsRuntime.InvokeVoidAsync("SavedSuccesfully", firstName, lastName);
    }
}
